<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdvanceXtensionLibrary.Properties.Settings.DemoCRUDUCConnectionString"
            connectionString="Data Source=localhost\mssqlserver2017;Initial Catalog=DemoCRUDUC;User ID=sa;Password=p@ssw0rd;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>